* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Manrope", sans-serif;
    font-size: 12px;
    color: #424242;
}
footer p {
    margin-bottom: 0;
}
a {
    min-width: 45px;
    min-height: 45px!important;
}
.navbarr {
	background-color:#2A4D69;
}
.brand img {
    max-height: 60px;
}
.burger {
    display: inline-block;
    cursor: pointer;
    z-index: 2;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 5px;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: white;
}

.change .bar2 {opacity: 0;   background-color: white;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: white;
}

/* wraper */

.container-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav {
	padding: 10px 20px;
	box-shadow: 1px 2px 10px 2px #0000001a;
	background-color: #2A4D69 #0c518a;
}

nav .brand a {
    margin-left: 15px;
	font-size: 1.7rem;
	text-decoration: none;
	font-weight: 550;
    color: white;
}

.bg-sidebar {
	top: 0;
	right: -100%;
	bottom: 0;
	width: 100%;
	position: fixed;
	background: rgba(0,0,0,.1);
	transition: .3s;
	visibility: hidden;
}

.bg-sidebar.change {
	right: 0;
	visibility: visible;
	display: block;
}

nav ul {
    display: flex;
    position: fixed;    
    background-color:#5d5f61;
    top: 0;
    bottom: 0;
    right: -300px;
    width: 200px;
    transition: .5s;
    align-items: flex-start;
    flex-direction: column;
}

nav ul.change {
    right: 0;
    transition: .5s;
    z-index: 1;
}

nav ul li {
	list-style: none;
	padding: 20px 15px;
}

nav ul li a {
	color: white;
	font-size: 1.2rem;
    text-decoration: none;
}

.jumbotron {
    height: 400px;
    background-color: #E7EFF6;
    display: flex;
    flex-direction: row;
}
.jumbotron p{
    height: fit-content;
    margin: auto 100px auto 70px;
    color: #2A4D69;
    font-weight: 500;
}
.jumbotron a {
    text-decoration: none;
}
.headline {
    width: 100%;
    color: #2A4D69;
}
.headline h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}
.headline img {
    width: 229px;
    height: 194px;
    margin-top: 50px;
}
.headline p {
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bolder;
}
.materi-title, .sekolah-title {
    margin-top: 50px;
}
section {
	margin: 25px 0;
}
h2 {
    font-weight: bold;
    color: #2A4D69;
}
.aboutt{
    height: fit-content;
    object-fit: cover;
}
.about-img{
    width: 90%;
    height: fit-content;
    object-fit: cover;
    margin-top: 20px;
}
.about-title, .about-desc {
    color: #2A4D69;
    text-align: center;
}
.about-title {
    margin-top: 18px;
    font-size: 16px;
}
.about-desc {
    font-size: 12px;
}

footer {
    position: static;
	bottom: 0;
	width: 100%;
	height: 100px;
	background-color:#2A4D69;
	color: white;
	padding-top: 20px;
}

.materi {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 32px 70px;
} 

.materi-item {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

.materi-item__header {
    position: relative;
}

.materi-item .materi-item__header {
    left: 0;
    display: inline-block;
    background-color: white;
    color: white;
    object-fit: cover;
}

.materi-item__header img {
    width: 100%;
    /* min-width: 345px; */
    /* height: 200px; */
    border-radius: 8px;
    object-fit: cover;
}
.materi-item .materi-item__content {
    padding: 16px;
}

.materi-item .materi-item__content p {
    margin: 0!important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
    font-weight: 500;
    font-size: 14px;
}

.mat {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px 16px;
}

.mat {
    width: 100%;
    max-width: 400px;
}

/* login page */
.body {
    background: #dbedfd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.spann {
    font-size: 12px;
}

.social {
    color: rgb(14, 11, 11);
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.login {
    margin: 50px auto;
    background: rgb(247, 243, 243);
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    max-width: 100%;
    min-height: 480px;
    z-index: 0;
}

.form-container form {
    background: rgb(247, 243, 243);
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid rgb(223, 220, 220);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.form-container input {
    background: rgb(230, 224, 224);
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.log-but, .ghost {
    border-radius: 20px;
    border: 1px solid #0c518a;
    background: #0d5794;
    color: rgb(247, 243, 243);
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background: transparent;
    border-color: rgb(255, 255, 255);
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.overlay {
    background: #2A4D69;
    background: linear-gradient(to right, #5397d3, #2A4D69) no-repeat 0 0 / cover;
    color: rgb(255, 255, 255);
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
form h1 {
    font-weight: bold;
    margin: 0;
}
.overlay-panel h1 {
    font-weight: bold;
    margin: 0;
}
.overlay-panel p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}
.overlay-right {
    right: 0;
    transform: translateX(0);
}

.overlay-left {
    transform: translateX(-20%);
}


/* Animation */


/* Move SignIn to the right */

.login.right-panel-active .sign-in-container {
    transform: translateX(100%);
}


/* Move Overlay to the left */

.login.right-panel-active .overlay-container {
    transform: translateX(-100%);
}
.masuk {
    display: none;
}

/* Bring SignUp Over Sign In */

.login.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}
/* Move Overlay Back To The Right */

.login.right-panel-active .overlay {
    transform: translateX(50%);
}

.login.right-panel-active .overlay-left {
    transform: translateX(0);
}

.login.right-panel-active .overlay-right {
    transform: translateX(20%);
}

/* daftar sekolah */
.daftar-sekolah {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 32px 70px;
} 

/*
    Movie Item
*/

.sekolah-item {
    margin: 0 auto;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

.sekolah-item__header {
    position: relative;
}

.sekolah-item .sekolah-item__header {
    left: 0;
    display: inline-block;
    background-color: white;
    color: white;
    object-fit: cover;
}

.sekolah-item__header img {
    width: 100%;
    /* min-width: 345px; */
    /* height: 200px; */
    border-radius: 8px;
    object-fit: cover;
}
.sekolah-item .sekolah-item__content {
    padding: 16px;
    padding-bottom: 10px;
}

.sekolah-item .sekolah-item__content p {
    margin: 0!important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
    font-weight: 500;
    font-size: 14px;
}

.skl {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px 16px;
}
 
.skl {
    width: 100%;
    max-width: 400px;
}
.syarat{
    text-align: left;
    margin: 0;
    font-size: inherit;
    font-weight: 550;
}
.daftar-vol {
    height: 44px;
    float: right;
    margin: 5px 20px!important;
    margin-bottom: 15px!important;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #0b4c81;
    background: #187bc7!important;
    color: white;
    font-weight: 500!important;
    transition: transform 80ms ease-in;
}
.sekolah-grid {
    margin: 7px 0;
}
.sekolah-add, .sekolah-jadwal{
    font-size: 1em!important;
    padding-top: 10px;
}
.sekolah-jadwal {
    color: #187bc7;
    font-weight: bold!important;
    padding: 5px 0;
}
.donasi-button {
    float: right;
    margin: 20px;
    border-radius: 5px;
    border: 1px solid #0c518a;
    background: #187bc7!important;
    color: rgb(247, 243, 243);
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}
.sekolah-title {
    text-align: center;
    font-size: 20px!important;
    color: #0c518a;
    font-weight: bolder!important;
}
/* akun */
.akun{
    text-align: center;
}
.akun-title {
    min-height: 44px;
    margin-top: 1rem;
    text-align: center;
    font-size: 1.75rem;
    font-weight: bold;
    color: #37678f;
}
.akun-title a{
    color: inherit;
    text-decoration: none;
}
.akun-img {
    width: 220px;
    height: fit-content;
    object-fit: cover;
    margin-top: 20px;
}
.modal-title {
    font-size: 1.5rem;
}
.ket-donasi {
    color: #2A4D69;
    font-weight: 500;
    font-size: 1.2rem;
}
.ds-success {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2A4D69;
}
.ds-img{
    justify-content: center;
    align-items: center;
}
.ds-title {
    text-align: center;
    margin: 20px 0 10px 0;
    font-size: 1.6rem;
    font-weight: 600;
}
.ds-desc {
    text-align: center;
    max-width: 75%;
    font-weight: 500;
    font-size: 1rem;
}
.check-vol {
    font-size: 0.8em;
}
.riwayat {
    text-align: center;
}
.riwayat h2 {
    font-size: 1.25rem;
    margin: 35px;
}
.riwayat a {
    text-decoration: none;
}
.riwayat-img {
    width: 200px;
}
.faq {
    text-align: left;
    list-style: none;
    margin-bottom: 50px;
}
.faq li {
    padding: 20px;
    cursor: pointer;
    box-shadow: 0px 2px 20px #e0e0e0;
    margin-bottom: 17px;
}
.headerr {
    display: flex;
    flex-direction: row;
    user-select: none;
}
.answer {
    color: black;
    font-weight: 400;
}